In [1]:
import numpy as np
import pandas as pd

import requests
from bs4 import BeautifulSoup
import re

import acquire

In [2]:
acquire.parse_gulde_news()

,title,date,author,contents
0,heart tell throughout,2000-03-11,By Timothy Garza,Task purpose edge section heart. Perhaps struc...
1,economy century thought,1990-03-03,By Catherine Mcintyre,Citizen ask structure check face idea. Care ch...
2,people kid media,2012-02-21,By Barry Edwards,They another lay able base base. Commercial ba...
3,morning discussion ball,2008-08-30,By Albert Little,Impact set list through. Newspaper address all...
4,house me career,1995-08-10,By Sarah Shaw,True meeting half theory between fund.\nToday ...
5,cover pass degree,2004-12-27,By Rebecca Davis,Data former energy maybe world. Rest receive b...
6,first member little,1991-12-05,By Christopher Garcia,Down though wonder true ability on. Store hand...
7,buy kitchen employee,1987-02-28,By Dr. Bruce Jackson,Benefit another left one nor.\nFly month any r...
8,will certain deep,1990-11-30,By Dustin Robinson,Choice might two Republican evening computer p...
9,Congress its poor,2006-08-10,By Christine Hoover,President modern administration onto wrong abi...
10,continue amount cup,2005-02-27,By Kevin Blevins,West recently station. Sit deal talk sign best...
11,fly recently pay,2014-08-14,By Michelle Hall,Close college federal some source professional...

In [3]:
# Webscraping demo from Zach

# import requests
# from bs4 import BeautifulSoup
# def parse_news_article(article):
#     title = article.h2.text
#     date, author = article.select('.italic')[0].find_all('p')
#     return {'title':title, 'date':date.text, 'author':author.text}
# response = requests.get('https://web-scraping-demo.zgulde.net/news')
# soup = BeautifulSoup(response.text)
# articles = soup.select('.grid.gap-y-12 > div')
        # pd.DataFrame([parse_news_article(article) for article in articles])

In [4]:
acquire.parse_gulde_people()

,name,quote,email,phone,address
0,Maria Smith,"""Focused client-driven artificial intelligence""",danielsmith@underwood.com,322.550.3501x015,"04872 Lopez Plaza East Rebecca, WA 81215"
1,Jessica Burke,"""Public-key interactive Local Area Network""",melissa46@mckee.info,(295)597-2349x36617,"375 Elizabeth Station Apt. 011 New Karen, SC 9..."
2,Mary Barry PhD,"""Ergonomic system-worthy definition""",bhoward@fischer-williams.com,+1-285-542-6399,"4672 Elizabeth Manors Lake Stephaniemouth, FL ..."
3,Katrina Gonzalez,"""Pre-emptive bandwidth-monitored support""",danielstrickland@warren.net,604-660-9450,"7562 Douglas Manor Apt. 743 Chelsealand, KS 93529"
4,Nicholas Roberts,"""Inverse context-sensitive algorithm""",loriwilliams@peterson-ward.com,746.158.4151x86908,"9680 Johnny Alley New Johnmouth, MI 93515"
5,John Miller,"""Integrated discrete intranet""",anthonyrubio@morgan.net,531.088.6865,"9791 Soto Villages New Peter, UT 55390"
6,John Bridges,"""Implemented user-facing functionalities""",davidgriffith@yahoo.com,(487)720-7197,"1343 Parrish Shore Lindseychester, ME 50070"
7,Gerald Cooper,"""Public-key multimedia initiative""",henryalan@flynn.com,655.365.4568x30262,"393 Delgado Key Apt. 431 Port Kristina, CT 47757"
8,Brooke Herrera,"""Devolved context-sensitive monitoring""",andrewshelton@costa-james.com,(812)132-6789,"344 Alexander Turnpike Suite 309 Ashleefort, S..."
9,Mary Moody,"""Seamless 24hour matrices""",hliu@hotmail.com,(814)596-3660x42646,"364 Adam Stravenue North Donna, ME 58427"

# Exercises
1. Codeup Blog Articles

Visit Codeup's Blog and record the urls for at least 5 distinct blog posts. For each post, you should scrape at least the post's title and content.
Encapsulate your work in a function named get_blog_articles that will return a list of dictionaries, with each dictionary representing one article.

In [5]:
acquire.get_blogs()

,title,date,category,content
0,Codeup’s Data Science Career Accelerator is Here!,"Sep 30, 2018",Data Science,The rumors are true! The time has arrived. Cod...
1,Data Science Myths,"Oct 31, 2018",Data Science,By Dimitri Antoniou and Maggie Giust Data Scie...
2,Data Science VS Data Analytics: What’s The Dif...,"Oct 17, 2018",Data Science,"By Dimitri Antoniou A week ago, Codeup launche..."
3,10 Tips to Crush It at the SA Tech Job Fair,"Aug 14, 2018",Tips for Prospective Students,The third bi-annual San Antonio Tech Job Fair ...
4,Competitor Bootcamps Are Closing. Is the Model...,"Aug 14, 2018",Codeup News,"In recent news, DevBootcamp and The Iron Yar..."

2. News Articles

We will now be scraping text data from inshorts, a website that provides a brief overview of many different topics.
Write a function that scrapes the news articles for the following topics:
- Business
- Sports
- Technology
- Entertainment

In [6]:
acquire.get_news()

,headline,publish_time,category,content
0,Facebook changes its company name to 'Meta',12:20 am,Business,Facebook on Thursday announced it's changing t...
1,"Ether hits fresh record high above $4,400, sur...",12:52 pm,Business,"Ether, the world's second-largest cryptocurren..."
2,Microsoft overtakes Apple as world's most valu...,08:52 pm,Business,Microsoft Corp on Friday overtook Apple Inc to...
3,People share Elon Musk's old 'meta for k' Twit...,04:28 pm,Business,After Facebook changed the company's name to '...
4,Shares of Canadian firm 'META' jump over 30% a...,01:54 pm,Business,The shares of a Canadian material science comp...
...,...,...,...,...
20,It's not just a revenge story: Shoojit Sircar ...,08:18 am,Entertainment,'Sardar Udham' director Shoojit Sircar said th...
21,It's a big relief for everybody: Juhi Chawla o...,11:03 pm,Entertainment,"Juhi Chawla, reacting to Aryan Khan's bail in ..."
22,"Big B made video for mom after she died, I pla...",11:05 pm,Entertainment,During his appearance on 'Kaun Banega Crorepat...
23,Always tried to do something new & unique for ...,11:06 pm,Entertainment,Emraan Hashmi said that he has always tried to...
24,Peter's bond with Doctor Strange not as intima...,11:14 pm,Entertainment,Actor Benedict Cumberbatch said that the bond ...